annotated-types
beautifulsoup4
blinker
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
filelock
Flask
flask-cors
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
joblib
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
networkx
numpy
packaging
pillow
preshed
pydantic
pydantic_core
Pygments
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
smart-open
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
srt
sympy
thinc
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
urllib3
wasabi
weasel
Werkzeug
wrapt
